<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button icon='ios-arrow-back' mode="ios"></ion-back-button>
    </ion-buttons>
     <ion-title mode="ios">My Location</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card mode="ios" *ngFor="let item of Address">
          <ion-card-content>
            <p class="heading">{{item.address_title}}</p>
            <p>{{item.address_location}}</p>
            <p>{{item.address_locality}}</p>

          </ion-card-content>
          <ion-row>
            <!-- <ion-col size="6" class="ion-no-padding">
              <ion-button mode="ios" expand="full" class="edit">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="md-create"></ion-icon>
                Edit
              </ion-button>
            </ion-col> -->
            <ion-col size="12" class="ion-no-padding">
              <ion-button mode="ios" expand="full" class="delete" (click)="delete(item.location_id)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="trash"></ion-icon>
                Delete
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-toolbar class="ion-text-center toolheight">
  <ion-button mode="ios" shape="round" routerLink="/newaddress">
    <ion-ripple-effect>
    </ion-ripple-effect>
    <img src="../../assets/home/white_location_pin.svg" alt="" /> &nbsp; ADD ADDRESS
  </ion-button>
</ion-toolbar>