ion-card-content{
    padding :4.5vw;
}
.car{
    width: 8vw !important;   
}
img{
    width: 6vw;
}
ion-col {
    align-self: center;
}
.toolheight{
    height: 30vw;
}
ion-card{
    border-radius: 0px;
}