ion-searchbar{
    width: 100% !important;
    max-width: 100%;
}
ion-list{
    padding: 3vw;
    ion-item{
        margin:2vw 0vw;
        p{
            margin: 1vw 0vw;
            width: 100%;
            white-space: nowrap;
            display: inline-block;
            overflow: hidden !important;
            text-overflow: ellipsis
        }
    }
}