.strip{
    width: 100%;
  height: 50px;
  border-radius: 5px;
  background-color: rgba(98, 97, 97, 0.1);
}

ion-input{
    width: 100%;
    height: 40px;
    object-fit: contain;
    border-radius: 5px;
    border: solid 0.5px #b4b4b4;
    
}