ion-grid{
    color: var(--font-color);
    h3{font-weight: 400; font-size: 4.5vw; }
    padding: 0vw 3vw;
    ion-item{
   
        color: var(--font-color);
        height :15vw;
    }
    .header{
        z-index: 99;
        position: fixed;
        top: 11.8vw;
        background: white;
    }
    .data{
        margin-top:15vw;
    }
    .data2{
        margin-top:27vw;
    }
}
ion-searchbar{
    border-radius: 6vw;
    --font-color: var(--theme-color);
    border: 2px solid #08cebb42;
}