<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button icon='ios-arrow-back' mode="ios"></ion-back-button>
    </ion-buttons>
     <ion-title mode="ios">Payments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card mode="ios" *ngFor="let data of Data">
          <ion-card-content>
            <ion-row >
              <ion-col size="9"   style="align-self: flex-end;">
                <p>**** **** **** {{data.last4}}  </p>
              </ion-col>
              <ion-col size="3">
                <img src="{{data.imageurl}}" alt="">
              </ion-col>
            </ion-row>
          </ion-card-content>
          <ion-row>
            <ion-col size="12" class="ion-no-padding">
              <ion-button mode="ios" expand="full" class="delete" (click)="DeleteCard(data.id)">
                <ion-ripple-effect></ion-ripple-effect>
                <ion-icon name="trash"></ion-icon>
                Delete
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid> 
</ion-content>
<ion-toolbar class="ion-text-center toolheight">
  <ion-button mode="ios" shape="round" (click)="addCard()">
    <ion-ripple-effect>
    </ion-ripple-effect>
    <img src="../../assets/home/card.svg" alt="" /> &nbsp; ADD CARD
  </ion-button>
</ion-toolbar>