<ion-header>
  <ion-toolbar><ion-buttons>
      <ion-back-button icon='ios-arrow-back' mode="ios"></ion-back-button>
  </ion-buttons>
     <ion-title mode="ios">Reviews</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col>
        <ion-row style="margin: 3vw 4vw;">
          <ion-col size="2"  class="ion-no-padding" >
            <div class="profilepic">
              <img src="../../assets/home/profile.svg" alt="">
            </div>
          </ion-col>
          <ion-col size="10"  class="ion-no-padding">
            <p class="heading" > <span class="name" > jane Doe </span> <span class="bullet">  18 October 2019 </span> </p>
            <p class="rating" > <span class="name" > 3.5 </span> <img src="../../assets/tick.svg" alt=""></p>
          </ion-col>
          <ion-col size="12"  class="ion-no-padding">
            <p class="title">
              very impressive service 
            </p>
            <p class="description">
              the store has a very good worker. and they provide excellent work. they are just awesome 
            </p>
          </ion-col>
          <ion-col offset="1" size="10" class="ion-no-padding">
            <hr>
          </ion-col>
        </ion-row>
        <ion-row style="margin: 3vw 4vw;">
          <ion-col size="2"  class="ion-no-padding" >
            <div class="profilepic">
              <img src="../../assets/home/profile.svg" alt="">
            </div>
          </ion-col>
          <ion-col size="10"  class="ion-no-padding">
            <p class="heading" > <span class="name" > jane Doe </span> <span class="bullet">  18 October 2019 </span> </p>
            <p class="rating" > <span class="name" > 3.5 </span> <img src="../../assets/tick.svg" alt=""></p>
          </ion-col>
          <ion-col size="12"  class="ion-no-padding">
            <p class="title">
              very impressive service 
            </p>
            <p class="description">
              the store has a very good worker. and they provide excellent work. they are just awesome 
            </p>
          </ion-col>
          <ion-col offset="1" size="10" class="ion-no-padding">
            <hr>
          </ion-col>
        </ion-row>
        <ion-row style="margin: 3vw 4vw;">
          <ion-col size="2"  class="ion-no-padding" >
            <div class="profilepic">
              <img src="../../assets/home/profile.svg" alt="">
            </div>
          </ion-col>
          <ion-col size="10"  class="ion-no-padding">
            <p class="heading" > <span class="name" > jane Doe </span> <span class="bullet">  18 October 2019 </span> </p>
            <p class="rating" > <span class="name" > 3.5 </span> <img src="../../assets/tick.svg" alt=""></p>
          </ion-col>
          <ion-col size="12"  class="ion-no-padding">
            <p class="title">
              very impressive service 
            </p>
            <p class="description">
              the store has a very good worker. and they provide excellent work. they are just awesome 
            </p>
          </ion-col>
          <ion-col offset="1" size="10" class="ion-no-padding">
            <hr>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
