.logo{
    margin-top: 10vh;
    .logodiv{
        width: 30vw;
        height: 30vw;
        img{
            height: 100%;
            width: 100%;
            object-fit: fill;
            border-radius: 50%;
        }
    }
}
.headings{
    h3, p{
        font-family: var(--theme-font);
        color: var(--font-color);
        padding: 0vw 8vw;
        font-size: 4.5vw;
    }
}

.input-structure{
    border: 1px solid #626161;
    border-radius: 10px;
    padding: 5px 0px;
    margin: 0vw 6vw;
}
