.value{
    text-align: right;
}
.billData{
    margin: 5vw 0vw;
    p{
        padding: 1vw 0vw;
        margin:  0vw;
        font-weight: 300;
    }
}
.subheading{

        padding: 1vw 0vw;
        margin:  0vw;
        font-weight: 500;
}
ion-grid{
    margin: 0vw 5vw;
    hr{
        background: var(--font-color);
    }
    .heading{
        font-size: 4.5vw;
        font-weight: 500;
        margin: 2vw 0vw;
    }
    .thumbnail{
        width: 6vw;
    }
    .clearbtn{
        padding: 0px;
        margin: 0px;
        height: 7vw;
    }
    ion-input{
        border-radius: 7vw;
        border: 1px solid #62616159;
        padding: 0vw 4vw !important;
    }
    .bookbtn{
        width: 80%;
        font-size: 4.8vw;
        margin-top: 5vw;
    }
}