h3{
    color: var(--font-color);
    font-family: var(--theme-font);
}
p{
    font-size: 4.5vw;
    font-weight: 600;
    color: var(--font-color);
    font-family: var(--theme-font);
    text-transform: capitalize;
}
div{
    width: 100%
}
.answer{
    font-weight: 500;
}