#myId {
  width: 100%;
  height: 75vh;
  border: 1px solid #6261612b;
  
}
  ion-slide{
    display: inline;
    .slideicon{
      height: 25vw;
      width: 100%;
      text-align: -webkit-center;
      padding-left: 2vw;
    p{
      padding-top: 1vw;
      margin: 0px;
      font-size: 3.2vw
    }
    img{
      margin-top: 3vw;
      height:13vw;
    }
    }
  }
