<!-- <ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col size="12" text-center>
        <form class="form-container">
            <div>
              <ion-input name="a" #a (keyup)="moveFocus($event,b,'')" type="tel"
                maxlength="1">
              </ion-input>
            </div>
        
            <div>
              <ion-input name="b" #b (keyup)="moveFocus($event,c,a)" type="tel"
                maxlength="1">
              </ion-input>
            </div>
        
            <div>
              <ion-input name="c"  #c (keyup)="moveFocus($event,d,b)" type="tel" 
                maxlength="1">
              </ion-input>
            </div>
        
            <div>
              <ion-input name="d"  #d (keyup)="moveFocus($event,e,c)" type="tel"
                maxlength="1">
              </ion-input>
            </div>
        
            <div>
              <ion-input name="e"  #e (keyup)="moveFocus($event,f,d)" type="tel" 
                maxlength="1">
              </ion-input>
            </div>
        
            <div>
              <ion-input name="f"  #f (keyup)="moveFocus($event,'',e)" type="tel"
                maxlength="1"></ion-input>
            </div>
          </form>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content> -->
