<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-back-button icon='ios-arrow-back' mode="ios"></ion-back-button>
    </ion-buttons>
     <ion-title mode="ios">Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="4" class="ion-text-center">
        <ion-button mode="ios" fill="clear" (click)="getdata(1)">
          <ion-ripple-effect></ion-ripple-effect> PENDING</ion-button
        >
        <div class="bottombar" *ngIf="active1"></div>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button mode="ios" fill="clear" (click)="getdata(2)"
          ><ion-ripple-effect></ion-ripple-effect> ASSIGNED
        </ion-button>
        <div class="bottombar" *ngIf="active2"></div>
      </ion-col>
      <ion-col size="4" class="ion-text-center">
        <ion-button mode="ios" fill="clear" (click)="getdata(3)"
          ><ion-ripple-effect></ion-ripple-effect> PAST
        </ion-button>
        <div class="bottombar" *ngIf="active3"></div>
      </ion-col>
      <ion-col size="12">
        <ion-card mode="ios" button *ngFor="let booking of bookingData; let i = index;" routerLink="/recipt" [queryParams]="booking" >
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid>
            <ion-row>
              <ion-col size="2" class="ion-text-center">
                <img src="../../assets/home/washcar.svg" alt="" />
              </ion-col>
              <ion-col size="8">
                <p class="title">{{ booking.title }}</p>
                <p class="time">{{ booking.time }}</p>
                <p class="id">Booking ID : {{ booking.id }}</p>
              </ion-col>
              <ion-col size="2" class="ion-text-center">
                {{ booking.rating }}
                <img src="../../assets/tick.svg" alt="" />
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
