<!-- <ion-header>
  <ion-toolbar>
    <ion-title>addprofilepic</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row class="logo">
      <ion-col size="12">
        <h3>Add your photo</h3>
        <p>Please add your photo to make it easier for people to find you.</p>
      </ion-col>
      <ion-col offset="4" size="8" text-center>
        <div class="logodiv">
          <img src="../../assets/shapes.svg" />
        </div>
      </ion-col>
      <ion-col size="6" text-center>
        <ion-button
          class="authbtn"
          color="primary"
          
          routerDirection="forward"
          shape="round"
        >
          <ion-ripple-effect></ion-ripple-effect> CONTINUE</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
